<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true%>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= javascript_importmap_tags %>

<%# can be seen only if private and the user is the author of the article or the author of the comment %>
<% unless comment.archived? or 
((comment.article.user.id != session[:user_id] and comment.user.id != session[:user_id]) and comment.private?)%>

  <p>
    Comment by
    <strong> <%= comment.user.username %> </strong> :
    <%= comment.body %>

    <% if comment.user.id == session[:user_id] %>
      <span class="mb-1">
        <%= link_to [comment.article, comment], data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } do %>
          <%= image_tag('delete.png', style: 'height:18px;width:auto;')%>
        <% end %>
      </span>
    <% end %>

    <td><%= link_to article_comment_like_path(comment.article, comment.id), data: { turbo_method: :post } do%>
      <% if comment.likes.find { |like| like.user_id == session[:user_id] } %>
        <%= image_tag('like.png', style: 'height:18px;width:auto;')%>
      <% else %>
        <%= image_tag('not_liked.png', style: 'height:18px;width:auto;')%>
      <% end %>

    <% end %></td>
    <%= comment.likes.count %>

  </p>
<% end %>
