<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true%>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= javascript_importmap_tags %>

<div class="container-fluid p-5 text-center">
    <h1> The blog has <%= Article.public_count %> articles and counting! </h1> 
</div>

<ul class="p-5">
    <% @articles.each do |article| %>
        <% unless article.archived? or (article.user.id != session[:user_id] and article.private?)%>
            <%= render "articles/articlecard", article: article%>
        <% end %>
    <% end %>
</ul>