<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true%>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= javascript_importmap_tags %>

<div class="container-fluid p-5 bg-primary text-white text-center">

  <div class="col-12 d-flex justify-content-beginning">
    <%= link_to articles_path do %>
      <%= image_tag('back.png', style: 'height:30px;width:auto;')%>
    <% end %>
  </div>

  <h1><%= @article.title %></h1>
  <h3>Category: <%= @article.category %></h3>
  <p>Author: <%= @article.user.username %></p>

  <% if @article.user.id == session[:user_id] %>
    <span class="mb-1">
      <%= link_to edit_article_path(@article) do %>
        <%= image_tag('edit.png', style: 'height:30px;width:auto;')%>
      <% end %>
    </span>

    <span class="mb-1">
      <%= link_to article_path(@article), data: {
                        # use delete method instead of get 
                        turbo_method: :delete,
                        # adds a confirmation dialouge
                        turbo_confirm: "Are you sure?"
                      }  do %>
        <%= image_tag('delete.png', style: 'height:30px;width:auto;')%>
      <% end %>
    </span>
  <% end %>

  <td><%= link_to "Like", article_like_path(@article), data: { turbo_method: :post }%></td>
  <%= @article.likes.count %>

</div>
  
<div class="container">
    
  <p class="mt-3"><%= @article.body %></p>

  <div class="mb-2"><h2>Comments</h2></div>

  <%= render @article.comments %>

  <%= render "comments/form", article: @article%>

</div>
